<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>
<body>
    <h1>Hi My name is <%=name%></h1>
    <ul>
        <% for(let i=0;i<6;i++){%>
            <li>
                <%=i%>
            </li>    
        <%}%>
    </ul>

    <!-- Creating a form to add new contacts -->
    <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="Enter the name">
        <input type="text" name="phone" placeholder="Enter the phone Number">

        <button type="submit">Add Contact</button>
    </form>
</body>
</html>