body{
    background-color: rgb(7, 24, 92);
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgb(145, 149, 232);
    width: 50%;
    height: 90%;
    border: 1px solid salmon;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container ul{
    
    width: 100%;
    
}
.container li{

    list-style: none;
    background-color: rgb(7, 24, 92);
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
}
.container li:hover{
    background-color: purple;
}